input {
    height: 2.5em;
    width: 30em;
    border-radius: 1em;
    margin-top: 1.8em;
    padding: 1em;
    font-size: 1em;

    &::placeholder{
        font-family: $roboto;
        padding: 1em;
        font-size: 1em;
    }
}
