input {
    height: 2.5em;
    width: 30em;
    border-radius: 1em;
    margin-top: 2.3em;
    padding: 1em;

    &::placeholder{
        font-family: $roboto;
        padding: 1em;
    }
}
